html {background-color: #cbe5f3}

.App {
  text-align: center;
  background-color: #cbe5f3
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #040506;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Menu {
  background-color: #b5f7f0;
}

.Menu-Logo {
  margin-left: 5%;
}

.Menu-Options {
  margin-left: 5%;
}

.Title {
  padding: 3%;
  background-color: #e3faf3;
}

.Title-thin {
  margin-top: 2%;
  background-color: #e3faf3;
}

.Gallery {
  margin-left: 15%;
  margin-right: 15%;
}

.card {
  width: 50rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 5%;
}

.ProgressImg {
  width: 70%
}

.description {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.aboutLogo {
  width: 30%;
}